{% extends "main.html" %}
{% block content %}
	<div class="main-container">
		<div class="delete-movie-column">
			<h3 class="delete-movie-title">Delete {{movie.name}}?</h3>

			<!-- Delete and cancel buttons -->
			<form class="delete-movie-form" action="#" method="post">
				<a class="cancel-button button" href="{{url_for('showMovie', genre_id=movie.genre_id, movie_id = movie.id )}}">Cancel</a>
				<input class="submit-button button" type="submit" value="Delete">
			</form>
		</div>
	</div>
{% endblock %}
