{% extends "main.html" %}
{% block content %}
	<div class="main-container">
		<div class="edit-movie-column">
			<h3 class="edit-movie-title">Edit Movie</h3>

			<form class="edit-movie-form" action="#" method="post">
				<fieldset>
					<label class="form-label">Name:</label>
					<input class="form-input" type="text" name="name" value="{{movie.name}}">

					<label class="form-label">Rating:</label>
					<input class="form-input" type="number" min="0" max="10" step="0.1" name="rating" value="{{movie.rating}}">

					<label class="form-label">Genre:</label>
					<select class="form-input" name="genre">
						{% for genre in genres %}
							{% if genre.id == movie.genre_id %}
								<option selected value="{{genre.id}}">{{genre.name}}</option>
							{% else %}
								<option value="{{genre.id}}">{{genre.name}}</option>
							{% endif %}
						{% endfor %}
					</select>

					<label class="form-label">Description:</label>
					<textarea class="form-input" name="description" rows="10">{{movie.description}}</textarea>
				</fieldset>

				<a class="cancel-button button" href="{{url_for('showMovie', genre_id=genre.id, movie_id=movie.id )}}">Cancel</a>
				<input class="submit-button button" type="submit" value="Save">
			</form>
		</div>
	</div>
{% endblock %}
