{% extends "main.html" %}
{% block content %}
	<div class="main-container">
		<div class="new-movie-column">
			<h3 class="new-movie-title">Add New Movie</h3>

			<form class="new-movie-form" action="#" method="post">
				<fieldset>
					<label class="form-label">Name:</label>
					<input class="form-input" type="text" name="name" placeholder="Name of Movie">

					<label class="form-label">Rating:</label>
					<input class="form-input" type="number" min="0" max="10" step="0.1" name="rating" placeholder="Number from 0 - 10">

					<label class="form-label">Genre:</label>
					<select class="form-input" name="genre">
						{% for genre in genres %}
							<option value="{{genre.id}}">{{genre.name}}</option>
						{% endfor %}
					</select>

					<label class="form-label">Description:</label>
					<textarea class="form-input" name="description" rows="10"></textarea>
				</fieldset>

				<a class="cancel-button button" href="{{url_for('showGenres')}}">Cancel</a>
				<input class="submit-button button" type="submit" value="Add Movie">
			</form>
		</div>
	</div>
{% endblock %}
